body    {
    background-color:black;
    } 

p{
    text-align-last: center;
    color: white;
    font-size:120%;
    font-family:verdana;
    margin-bottom:auto;
    margin-top: auto;
    margin-left: 20%;
    margin-right: 20%;
    text-align:justify;
    
}

p1{
    text-align-last: center;
    color: white;
    font-size:120%;
    font-family:verdana;
    margin-bottom:20%;
    margin-top: auto;
    margin-left: 20%;
    margin-right: 20%;
    text-align:left;
    
}

pre{
    text-align-last: center;
    text-align:center;
    color: white;
    font-size:250%;
    font-family: Georgia;
}

h1{
    text-align:center;
    color: white;
    font-family: Brush Script MT;
    font-size: 250%;
}

h2{
    text-align:center;
    color:black;
    
}

h3{
    text-align:center;
    color: white;
    font-family: verdana bold;
    font-size: 200%;
    margin-top:auto;
    margin-bottom: 1%;
}

h4{
    text-align:left;
    background-color:darkblue;
    border-bottom: 20px solid;
    border-color:darkblue;
    color: white;
    font-family: verdana;
    margin-left: 5%;
}



article{
  padding: 20px;
  width:50%;
  background-color: white;
    display:inline-block;
    text-align: left;
}


header{
    background-color: darkblue;
}


button1 {

  background-color:darkblue;
  border: 5px solid ;
    border-color:darkblue;
  color: white;
  padding: 15px 32px;
  text-align: center;
display: inline-block;
  font-size: 16px;
     margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 12px;
    cursor:pointer;

}
button1:hover{

  background-color: blue;

}

button1:active{
    cursor:wait;
    background-color: slateblue;
    
}

button2 {

   background-color: darkblue;
    border-color: darkblue;
  color: white;
  padding: 15px 32px;
  text-align: center;
    display: inline-block;
    margin: auto;
  font-size: 16px;
    transition-duration: 0.4s;
    width:200px;
    cursor:pointer;
    

}


button2:hover{
  background-color: blue;  
}

button2:active{
    cursor:wait;
    background-color:slateblue;
}

li{
    float:right;
    margin-right: 17%;
    display:block;
}

    
button3 {
  background-color: darkblue;
    border:2px solid;
    border-color: mediumblue;
  color: white;
  padding: 20px 32px;
  font-size: 16px;
    font-family: verdana;
    transition-duration: 0.4s;
    width:10%;
    cursor:pointer;
    position:fixed;
    
}


button3:hover{
  background-color: blue;  
}

button3:active{
    cursor:wait;
    background-color:slateblue;
}


button4 {
font-family: verdana;
  background-color:black;
  color: black;
  padding: 5px;
display: inline-block;
  font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 12px;
    cursor:pointer;
    position: fixed;
    right:10%;
}
button4:hover{

  color: blue;

}

button4:active{
    cursor:wait;
    background-color: slateblue;
    
}


#navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}



  embed { display: none; }
  button1:active + embed { display: block; }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

